@mixin flex($flex-direction, $align-items, $justify-content, $flex-wrap) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-wrap: $flex-wrap;
}
@mixin grid ($grid-template-columns, $grid-template-rows, $grid-gap) {
    display: grid;
    grid-template-columns: $grid-template-columns;
    grid-template-rows: $grid-template-rows;
    grid-gap: $grid-gap;
}
